{% extends "layout.html" %}
{% block content %}


    
<div id="mySidebar" class="sidebar">
	<h2>API Data Request</h2><br><br>
	<label for="username">Data Store Name:</label><br>
	<input type="text" id="datastoreName" name="datastoreName"  class = "box"><br>
	<input class="buttonstyle" type=button id = "makeCall" value = "Make API Request">
    	
   
  </div>
  
  <div id="main">
    <button class="openbtn" id="sideButton" onclick="openNav()"><i class="fa fa-caret-right"></i></button>
    
  <div id="map" class='map'></div>	
	  
  </div>
  
  <div class="home">
  <script>
    
	  
	  
	  
    function notifyMessage(msg,styles){
                 $.notify(msg,{
                 className: styles,
                 globalPosition: 'right center'
                        
                 });
     }
        
    
        var map = L.map('map',{
        center: [52.770775, -1.2043467],
        zoom: 15,
        zoomControl: false
	    
    });
    L.control.zoom({position: 'topright'}).addTo(map);
    
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);
    
        function onMapClick(e) {
        notifyMessage("You clicked the map at " + e.latlng, "info");
    }
    
    map.on('click', onMapClick);
    
    $(function() {
      $("#SignOut").click(function () {
          $.ajax({
              url: 'GERTLogout.php',
              success: function(data) {
                 window.location.href = 'GertLogin.php';
                }
    });
    });
    });
	
	$(function() {
		$("#makeCall").click(function () {
			var $datastoreName = $("#datastoreName").val(); 
    			var $pWord = $("#password").val(); 
    	   	$.ajax({
    			method: "POST",
      			url: "{{ url_for('processAPICall')}}",
			data: {datastoreName:$datastoreName},
      			
   		})
		.done(function(msg) {
		alert(msg)
		})   
		.fail(function(msg){
			alert("Error");
		});
		});
 
	});
      
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
      document.getElementById("mySidebar").style.width = "400px";
      document.getElementById("main").style.marginLeft = "250px";
      document.getElementById("sideButton").innerHTML="<i class=\"fa fa-caret-left\"></i>";
      document.getElementById("sideButton").setAttribute( "onClick", "javascript: closeNav();" );
    }
    
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.getElementById("sideButton").innerHTML="<i class=\"fa fa-caret-right\"></i>";
      document.getElementById("sideButton").setAttribute( "onClick", "javascript: openNav();" );
    }
    </script>
{% endblock %}

