{% extends "layout.html" %}
{% block content %}


    
<div id="mySidebar" class="sidebar">
	
	
	<h2>API Data Request</h2><br><br>
	<label for="datastoreName">Data Store Name:</label><br>
	<select name = "datastoreName" id="datastoreName" >
            <option value = "cams-global-atmospheric-composition-forecasts" selected>cams-global-atmospheric-composition-forecasts</option>
        </select>
	<br><br>
	
		<label for="datepicker1">Date Start:   </label>&emsp;&emsp;<label for="datapicker2">   Date End:</label><br>
	<input type="date" id="datepicker1">&emsp;<input type="date" id="datepicker2"><br><br>
	
	<label for="time">Time Interval:</label><br>
	<select name = "time" id="time" >
            	<option value = "00:00" selected>00:00</option>
		<option value = "12:00" selected>12:00</option>
        </select>
	<br><br>

	
	<label>Variables for the chosen data</label><br>
	<input type="checkbox" id="carbonmonoxide" name="carbonmonoxide">
  		<label for="carbonmonoxide">Total Column Carbon Monoxide</label>
	&emsp;
	<input type="checkbox" id="nitrogenDioxide" name="nitrogenDioxide">
  		<label for="nitrogenDioxide">Total Column Nitrogen Dioxide</label>
	<br>
	<input type="checkbox" id="carbonDioxide" name="carbonDioxide">
  		<label for="carbonDioxide">Total Column Carbon Dioxide</label>
	&emsp;
	<input type="checkbox" id="sulphurDioxide" name="sulphurDioxide">
  		<label for="sulphurDioxide">Total Column Sulphur Dioxide</label>
	<br><br>
	
	<label for="leadtimeHour">Leadtime Hour:</label><br>
	<select name = "leadtimeHour" id="leadtimeHour" >
            	<option value = "0" selected>0</option>
		<option value = "1" selected>1</option>
        </select>
	<br><br>

	<label for="fileFormat">File Format:</label><br>
	<select name = "fileFormat" id="fileFormat" >
            <option value = "grib" selected>.grib</option>
        </select>
	<br><br>
	
	<label for="fileName">Chosen File Name:</label><br>
	<input type="text" id="fileName" name="fileName"><br><br>
	
	<input class="buttonstyle" type=button id = "makeCall" value = "Make API Request">
	
    	
   
  </div>
  
  <div id="main">
    <button class="openbtn" id="sideButton" onclick="openNav()"><i class="fa fa-caret-right"></i></button>
    
  <div id="map" class='map'></div>	
	  
  </div>
  
  <div class="home">
  <script>
    
	  
	  
	  
    function notifyMessage(msg,styles){
                 $.notify(msg,{
                 className: styles,
                 globalPosition: 'right center'
                        
                 });
     }
        
    
        var map = L.map('map',{
        center: [52.770775, -1.2043467],
        zoom: 15,
        zoomControl: false
	    
    });
    L.control.zoom({position: 'topright'}).addTo(map);
    
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);
    
        function onMapClick(e) {
        notifyMessage("You clicked the map at " + e.latlng, "info");
    }
    
    map.on('click', onMapClick);
    
    $(function() {
      $("#SignOut").click(function () {
          $.ajax({
              url: 'GERTLogout.php',
              success: function(data) {
                 window.location.href = 'GertLogin.php';
                }
    });
    });
    });
	
	$(function() {
		$("#makeCall").click(function () {
			var $datastoreName = $("#datastoreName").val(); 
    			var $pWord = $("#password").val(); 
    	   	$.ajax({
    			method: "POST",
      			url: "{{ url_for('processAPICall')}}",
			data: {datastoreName:$datastoreName},
      			
   		})
		.done(function(msg) {
		alert(msg)
		})   
		.fail(function(msg){
			alert("Error");
		});
		});
 
	});
      
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
      document.getElementById("mySidebar").style.width = "550px";
      document.getElementById("main").style.marginLeft = "550px";
      document.getElementById("sideButton").innerHTML="<i class=\"fa fa-caret-left\"></i>";
      document.getElementById("sideButton").setAttribute( "onClick", "javascript: closeNav();" );
    }
    
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.getElementById("sideButton").innerHTML="<i class=\"fa fa-caret-right\"></i>";
      document.getElementById("sideButton").setAttribute( "onClick", "javascript: openNav();" );
    }
    </script>
{% endblock %}

