{% extends "layout.html" %}
{% block content %}


    
<div id="mySidebar" class="sidebar">
	
	
	<h2>API Data Request</h2><br>
	<label for="datastoreName">Data Store Name:</label><br>
	<select name = "datastoreName" id="datastoreName" >
            <option value = "cams-global-atmospheric-composition-forecasts" selected>cams-global-atmospheric-composition-forecasts</option>
        </select>
	<br>
	
		<label for="datepicker1">Date Start:   </label>&emsp;&emsp;<label for="datapicker2">   Date End:</label><br>
	<input type="date" id="datepicker1">&emsp;<input type="date" id="datepicker2"><br><br>
	
	<label for="time">Time Interval:</label><br>
	<select name = "time" id="time" >
            	<option value = "00:00" selected>00:00</option>
		<option value = "12:00" selected>12:00</option>
        </select>
	<br>

	
	<label>Variables for the chosen data</label><br>
	<div class="multiselect">
    	<div class="selectBox" onclick="showCheckboxes()">
      		<select id="select">
			<option>Select an option</option>
      		</select>
      	<div class="overSelect"></div>
    	</div>
    	<div id="checkboxes">
      	<label for="one">
        	<input type="checkbox" id="one" />Carbon Monoxide</label>
      	<label for="two">
        	<input type="checkbox" id="two" />Methane</label>
      	<label for="three">
        	<input type="checkbox" id="three" />Nitrogen Dioxide</label>
	<label for="four">
        	<input type="checkbox" id="four" />Sulphur Dioxide</label>
    </div>
  </div>
	<br>
	
	<label for="leadtimeHour">Leadtime Hour:</label><br>
	<select name = "leadtimeHour" id="leadtimeHour" >
            	<option value = "0" selected>0</option>
		<option value = "1" selected>1</option>
        </select>

	<br><br>

	<label for="fileFormat">File Format:</label><br>
	<select name = "fileFormat" id="fileFormat" >
            <option value = "grib" selected>.grib</option>
        </select>
	<br><br>
	
	<label for="fileName">Chosen File Name:</label><br>
	<input type="text" id="fileName" placeholder="Filename" name="fileName"><br><br>
	
	<input class="buttonstyle" type=button id = "makeCall" value = "Make API Request">
	
    	
   
  </div>
  
  <div id="main">
    <button class="openbtn" id="sideButton" onclick="openNav()"><i class="fa fa-caret-right"></i></button>
    
  <div id="map" class='map'></div>	
	  
  </div>
  
  <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id="Header">Downloading...</h2>
    </div>
    <div class="modal-body">
      <p id="Mline1">Please wait while your model is downloaded</p>
      <p id="Mline2" hidden>You may either view this model now or save it to view later</p>
    </div>
    <div class="modal-footer">
	<input hidden class="sidebutton" style="background-color: #282b30;" type="Button" id="save" value="Save" onclick="savesearch()">&emsp;<input hidden class="sidebutton" style="background-color: #282b30;" type="button" id="View" value="View Data" onclick="view()">  
    </div>
  </div>

</div>
  
  <script>
var ID;
	  
function savesearch(){
	document.getElementById("Header").innerHTML = "Save Successful";
    	document.getElementById("Mline1").innerHTML = "Your model has been saved";
    	document.getElementById("Mline2").setAttribute("hidden", "hidden");
}

function view(){
	window.location.href="{{ url_for('view', ID='placeholder') }}".replace("placeholder",ID);	
}
	  
	  
	  
var expanded = false;
	  
    function showCheckboxes() {
  	var checkboxes = document.getElementById("checkboxes");
  	if (!expanded) {
   		checkboxes.style.display = "block";
    		expanded = true;
  	} else {
    		checkboxes.style.display = "none";
    		expanded = false;
  	}
     }
	  
	  
	  
    function notifyMessage(msg,styles){
                 $.notify(msg,{
                 className: styles,
                 globalPosition: 'right center'
                        
                 });
     }
        
    
        var map = L.map('map',{
        center: [52.770775, -1.2043467],
        zoom: 5,
        zoomControl: false
	    
    });
    L.control.zoom({position: 'topright'}).addTo(map);
    
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);
    
	  
    var testBoundingBox = L.rectangle([[0,0],[0,0]], {color: "#ff00dd", weight: 1});
	  map.addLayer(testBoundingBox);
	
	  var boxBounds = [[52.4, 1.2], [52.8, 1.2]];
	  var xy1 = [52.4, 1.2];
	  var xy2 = [52.8, 1.6];
    function onMapClickFirst(e) {
        notifyMessage("You clicked the map at " + e.latlng.wrap(), "info");
	xy1 = xy2;
	xy2 = e.latlng.wrap();
	boxBounds = [xy1, xy2];
	testBoundingBox.setBounds(boxBounds);
    }
    
    map.on('click', onMapClickFirst);
    
    $(function() {
      $("#SignOut").click(function () {
          $.ajax({
              url: 'GERTLogout.php',
              success: function(data) {
                 window.location.href = 'GertLogin.php';
                }
    });
    });
    });
	
	$(function() {
      $("#one").click(function () {
	      var $str = "";
	      if($("#one").is(":checked")){
		      	$str=$str.concat("CO ");
	      }	
		      
	      if($("#two").is(":checked")){
		      	$str=$str.concat("CH4 ");
	      }	
		      
	      if($("#three").is(":checked")){
		      	$str=$str.concat("NO2 ");
	      }	
		      
	      if($("#four").is(":checked")){
		      	$str=$str.concat("SO2 ");
	      }	
	      if($str==""){
	      var $str = "Select an option";
	      }
	      $("#select").find("option:selected").text($str);
	      
	      
      		
      });
});  

	  $(function() {
      $("#two").click(function () {
	      var $str = "";
	      if($("#one").is(":checked")){
		      	$str=$str.concat("CO ");
	      }	
		      
	      if($("#two").is(":checked")){
		      	$str=$str.concat("CH4 ");
	      }	
		      
	      if($("#three").is(":checked")){
		      	$str=$str.concat("NO2 ");
	      }	
		      
	      if($("#four").is(":checked")){
		      	$str=$str.concat("SO2 ");
	      }	
	      if($str==""){
	      var $str = "Select an option";
	      }
	      $("#select").find("option:selected").text($str);
	      
	      
      		
      });
});  

	  $(function() {
      $("#three").click(function () {
	      var $str = "";
	      if($("#one").is(":checked")){
		      	$str=$str.concat("CO ");
	      }	
		      
	      if($("#two").is(":checked")){
		      	$str=$str.concat("CH4 ");
	      }	
		      
	      if($("#three").is(":checked")){
		      	$str=$str.concat("NO2 ");
	      }	
		      
	      if($("#four").is(":checked")){
		      	$str=$str.concat("SO2 ");
	      }	
	      if($str==""){
	      var $str = "Select an option";
	      }
	      $("#select").find("option:selected").text($str);
	      
	      
      		
      });
});  

	  $(function() {
      $("#four").click(function () {
	      var $str = "";
	      if($("#one").is(":checked")){
		      	$str=$str.concat("CO ");
	      }	
		      
	      if($("#two").is(":checked")){
		      	$str=$str.concat("CH4 ");
	      }	
		      
	      if($("#three").is(":checked")){
		      	$str=$str.concat("NO2 ");
	      }	
		      
	      if($("#four").is(":checked")){
		      	$str=$str.concat("SO2 ");
	      }	
	      if($str==""){
	      var $str = "Select an option";
	      }
	      $("#select").find("option:selected").text($str);
	      
	      
      		
      });
});  

	  
	  
	  
	  
	  
	$(function() {
		$("#makeCall").click(function () {
			$("#myModal").css('display','block');
			var $datastoreName = $("#datastoreName").val(); 
    			var $datepicker1 = $("#datepicker1").val(); 
			var $datepicker2 = $("#datepicker2").val();
			var $time = $("#time").val();
			var $variables = $('#variables').val();
			var $carbonMonoxide = $("#one").is(":checked");
			var $nitrogenDioxide = $("#three").is(":checked");
			var $sulphurDioxide = $("#four").is(":checked");
			var $Methane = $("#two").is(":checked");
			var $leadtimeHour = $("#leadtimeHour").val();
			var $fileName = $("#fileName").val();
			var $fileFormat = $("#fileFormat").val();
    	   	$.ajax({
    			method: "POST",
      			url: "{{ url_for('processAPICall')}}",
			data: {datastoreName:$datastoreName , datepicker1:$datepicker1, datepicker2:$datepicker2, time:$time, variables:$variables, carbonmonoxide:$carbonMonoxide,
			      nitrogendioxide:$nitrogenDioxide, sulphurdioxide:$sulphurDioxide, methane:$Methane,
			       leadtimeHour:$leadtimeHour, fileName:$fileName , fileFormat:$fileFormat},
      			
   		})
		.done(function(msg) {
		ID=msg
		$("#Header").text("Download Successful");
		$("#Mline1").text("Your model has been downloaded successfully");
		$("#Mline2").removeAttr('hidden');
		$("#save").removeAttr('hidden');
		$("#View").removeAttr('hidden');	
		})   
		.fail(function(msg){
			$("#Header").text("Download Failed");
			$("#Mline1").text("An error has occured, Check that there is suitable data requested, or contact system manager");
		});
		});
 
	});
      
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
      document.getElementById("mySidebar").style.width = "450px";
      document.getElementById("main").style.marginLeft = "450px";
      document.getElementById("sideButton").innerHTML="<i class=\"fa fa-caret-left\"></i>";
      document.getElementById("sideButton").setAttribute( "onClick", "javascript: closeNav();" );
    }
    
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.getElementById("sideButton").innerHTML="<i class=\"fa fa-caret-right\"></i>";
      document.getElementById("sideButton").setAttribute( "onClick", "javascript: openNav();" );
    }
    
    // Get the modal
var modal = document.getElementById("myModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

var checkboxes = document.getElementById("checkboxes");

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
  document.getElementById("Header").innerHTML = "Downloading...";
  document.getElementById("Mline1").innerHTML = "Please wait while your model is downloaded";
  document.getElementById("Mline2").setAttribute("hidden", "hidden");
  document.getElementById("save").setAttribute("hidden", "hidden");
  document.getElementById("View").setAttribute("hidden", "hidden");	
  
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    document.getElementById("Header").innerHTML = "Downloading...";
    document.getElementById("Mline1").innerHTML = "Please wait while your model is downloaded";
    document.getElementById("Mline2").setAttribute("hidden", "hidden");
    document.getElementById("save").setAttribute("hidden", "hidden");
    document.getElementById("View").setAttribute("hidden", "hidden");	  
  }
  
}
	  
	  
	  
	  
    </script>
{% endblock %}

