{% extends "layout.html" %}
{% block content %}

<div id="mySidebar" class="sidebar" style="width:250px;">
  <a onclick="acc()">Account Details</a>
  <a onclick="bill()">Billing</a>
  
</div>

<div id="Profile" style="display:block;">
  <form class="form" style="top:10%;"><br>Account Details<br><br>
  <label class="labels" for="username">Username:</label><br> 
  <input class="profile" type="text" id="username" value="{{ session['uName'] }}" disabled><br>  
  <label class="labels" for="Email">Email:</label><br> 
  <input class="profile" type="text" id="email" value="{{ session['Email'] }}" disabled><br>   
    
  </form>
</div>

<div id="Billing" style="display:none;">
  <h2 style="text-align:center"> bill</h2>
</div>


<script>

  function acc(){
    document.getElementById("Billing").style.display="none";
    document.getElementById("Profile").style.display="block";
  }
  
  function bill(){
    document.getElementById("Profile").style.display="none";
    document.getElementById("Billing").style.display="block";
  }
  
</script>

{% endblock %}
