{% extends "layout.html" %}
{% block content %}

<div id="mySidebar" class="sidebar" style="width:250px;">
  <a onclick="acc()">Account Details</a>
  <a onclick="bill()">Billing</a>
  
</div>

<div id="Profile" style="display:block;">
  <form class="form" style="position:absolute; left:500px; top:250px; text-align:left; outline:none; translate"><br>Account Details<br><br>
  <label class="labels" for="username">Username:</label><br> 
  <input class="profile" type="text" id="username" value="{{ session['uName'] }}" disabled>
  &nbsp;  
  <input class=buttonstyle type="button" id="editUname" onclick="changeUname()" value="Edit">
  <input class=buttonstyle type="button" id="submitUname" hidden="hidden" value="submit">
  
    
  <br>  
  <label class="labels" for="Email">Email:</label><br> 
  <input class="profile" type="text" id="email" value="{{ session['Email'] }}" disabled><br><br>
  
    
  </form>
</div>

<div id="Billing" style="display:none;">
  <h2 style="text-align:center"> bill</h2>
</div>


<script>
  function acc(){
    document.getElementById("Billing").style.display="none";
    document.getElementById("Profile").style.display="block";
  }
  
  function bill(){
    document.getElementById("Profile").style.display="none";
    document.getElementById("Billing").style.display="block";
  }
 
  function changeUname(){
    if(document.getElementById("editUname").value=="Edit"){
      document.getElementById("submitUname").removeAttribute("hidden");
      document.getElementById("username").removeAttribute("disabled");
      document.getElementById("editUname").value="Cancel";
    } else if(document.getElementById("editUname").value=="Cancel"){
      document.getElementById("submitUname").setAttribute("hidden", "hidden");
      document.getElementById("editUname").value="Edit";
      document.getElementById("username").setAttribute("disabled", "disabled");
      document.getElementById("username").value="{{ session['uName'] }}";
      }
  }
  
  
</script>

{% endblock %}
