{% extends "layout.html" %}
{% block content %}

<div id="mySidebar" class="sidebar" style="width:250px;">
  <a onclick="acc()">Account Details</a>
  <a onclick="bill()">Billing</a>
  
</div>

<div id="Profile" style="display:block;">
  <h2 style="text-align:center"> Profile</h2>
</div>

<div id="Billing" style="display:none;">
  <h2 style="text-align:center"> bill</h2>
</div>


<script>

  function acc(){
    document.getElementById("Billing").style.display="none";
    document.getElementById("Profile").style.display="block";
  }
  
  function bill(){
    document.getElementById("Profile").style.display="none";
    document.getElementById("Billing").style.display="block";
  }
  
</script>

{% endblock %}
