{% extends "layout.html" %}
{% block content %}
<table id="data" class="SaveTable">
    <thead>
      <tr>
        <th>Search ID</th>
        <th>Search Name</th>
        <th>Start Date</th>
        <th>End Date</th>  
        <th>NO2</th>
        <th>SO2</th>
        <th>CO</th>
        <th>CH4</th>  
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for res in result %}
        <tr>
          <!-- for each saved result for the account it is added to the table with each of the attributes saved in the backend database  -->  
          <td>{{ res[0] }}</td>
          <td>{{ res[1] }}</td>
          <td>{{ res[8] }}</td>
          <td>{{ res[9] }}</td>  
          <td>{% if res[4]==1 %}Yes{% else %}No{% endif %}</td>
          <td>{% if res[5]==1 %}Yes{% else %}No{% endif %}</td>
          <td>{% if res[6]==1 %}Yes{% else %}No{% endif %}</td>
          <td>{% if res[7]==1 %}Yes{% else %}No{% endif %}</td>  
          <td><button class="buttonstyle" id="{{ res[0] }}" onclick="ViewModel({{ res[0] }},String(`{{ res[8] }}`),String(`{{ res[9] }}`))">View Model</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
//opening a file sends its id, start and end dates via the url for usage on the view data page
function ViewModel(file, start, end){ 
    window.location.href=(("{{ url_for('view', ID='placeholder',ID1='placeholder1',ID2='placeholder2') }}".replace("placeholder",file)).replace("placeholder1",String(start))).replace("placeholder2",String(end));    
}
    
</script>


{% endblock %}
