{% extends "layout.html" %}
{% block content %}

<div id="mySidebar" class="sidebar" style="width:400px; padding-top:20px;">
  <input class="sidebutton" type="Button" id="Search" value="Search" onclick="Search()">&emsp;<input class="sidebutton" type="button" id="ViewData" value="Data" onclick="Data()"><br><br><br>
  <a id="dataText">Below is the filepath that we will download from</a>
  <a id="dataText2" style="font-size:15px;">{{ download }}</a>
  <a id="searchText" style="display:none;">Search go BRRRRRRRR</a>
  <a id="searchText2" style="display:none;">Large sequence of search inputs</a>	
  
</div>

<div id="map" class='map'></div>

<script>
	
		  
    function notifyMessage(msg,styles){
                 $.notify(msg,{
                 className: styles,
                 globalPosition: 'right center'
                        
                 });
     }
	
	
	function Search(){	  
	  document.getElementById("dataText").style.display="none";
	  document.getElementById("dataText2").style.display="none";
	  document.getElementById("searchText").style.display="block";
	  document.getElementById("searchText2").style.display="block";	
	  
	  }	
	function Data(){	  
	  document.getElementById("dataText").style.display="block";
	  document.getElementById("dataText2").style.display="block";
	  document.getElementById("searchText").style.display="none";
	  document.getElementById("searchText2").style.display="none";
	  
	  }	

	 var map = L.map('map',{
        center: [52.770775, -1.2043467],
        zoom: 5,
        zoomControl: false
	    
    });
    L.control.zoom({position: 'topright'}).addTo(map);
    
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);
    
    
   

function onMapClickFirst(e) {
	lat=parseFloat(e.latlng.wrap().lat);
	lon=parseFloat(e.latlng.wrap().lng);    
        notifyMessage("{{ data.data(lat1=999999999,lat2=89.9,lon1=1.3,lon2=1.7)[0][0] }}".replace("999999999",89.4),"info");
	xy1 = e.latlng.wrap();
    }
    var boundingBox = L.rectangle([[20, 20],[60,60]], {color: "#ff7800", weight: 1});
	map.addLayer(boundingBox);
    
    map.on('click', onMapClickFirst);

	
</script>
{% endblock %}
