{% extends "layout.html" %}
{% block content %}

<div id="mySidebar" class="sidebar" style="width:400px; padding-top:20px;">
  <input class="sidebutton" type="Button" id="Search" value="Search" onclick="Search()">&emsp;<input class="sidebutton" type="button" id="ViewData" value="Data" onclick="Data()"><br><br><br>
  <a id="dataText">Data</a>
  <a id="dataText0" style="font-size:15px;"></a>
  <a id="dataText1" style="font-size:15px;"></a>
  <a id="dataText2" style="font-size:15px;"></a>
  <a id="dataText3" style="font-size:15px;"></a>
  <a id="dataText4" style="font-size:15px;"></a>
  <a id="dataText5" style="font-size:15px;"></a>	
  <a id="searchText" style="display:none; text-align:center;">Coordinates Selected </a>
  <label id="LongLabel" for="long" style="display:none;">Longitude 1: </label><input class="number" type="number" name="long" id="Long" value="-1.266" style="display:none;" readonly><br>
  <label id="LatLabel" for="lat" style="display:none;">Latitude 1: </label><input class="number" type="number" name="lat" id="Lat" value="52.9" style="display:none;" readonly><br><br>
  <label id="LongLabel2" for="long2" style="display:none;">Longitude 2: </label><input class="number" type="number" name="long2" id="Long2" value="-1.18" style="display:none;" readonly><br>
  <label id="LatLabel2" for="lat2" style="display:none;">Latitude 2: </label><input class="number" type="number" name="lat2" id="Lat2" value="52.74" style="display:none;" readonly><br><br>	
  <input class="buttonstyle" type="button" style="display:none; margin:auto;" id = "GetData" value = "Get Location Data">
  
</div>

<div id="map" class='map'></div>

<script>
let boxClickCounter = 0;	
		  
    function notifyMessage(msg,styles){
                 $.notify(msg,{
                 className: styles,
                 globalPosition: 'right center'
                        
                 });
     }
	
	
	function Search(){	  
	  document.getElementById("dataText").style.display="none";
	  document.getElementById("dataText0").style.display="none";
	  document.getElementById("dataText1").style.display="none";
	  document.getElementById("dataText2").style.display="none";
	  document.getElementById("dataText3").style.display="none";	
	  document.getElementById("dataText4").style.display="none";	
	  document.getElementById("dataText5").style.display="none";		
	  document.getElementById("searchText").style.display="block";
	  document.getElementById("LongLabel").style.display="block";	
	  document.getElementById("Long").style.display="block";
	  document.getElementById("Lat").style.display="block";
	  document.getElementById("LatLabel").style.display="block";
	  document.getElementById("LongLabel2").style.display="block";	
	  document.getElementById("Long2").style.display="block";
	  document.getElementById("Lat2").style.display="block";
	  document.getElementById("LatLabel2").style.display="block";	
	  document.getElementById("GetData").style.display="block";	
	  
	  }	
	function Data(){	  
	  document.getElementById("dataText").style.display="block";
	  document.getElementById("dataText0").style.display="block";
	  document.getElementById("dataText1").style.display="block";
	  document.getElementById("dataText2").style.display="block";
	  document.getElementById("dataText3").style.display="block";
	  document.getElementById("dataText4").style.display="block";
	  document.getElementById("dataText5").style.display="block";	
	  document.getElementById("searchText").style.display="none";
	  document.getElementById("LongLabel").style.display="none";	
	  document.getElementById("Long").style.display="none";
	  document.getElementById("Lat").style.display="none";
	  document.getElementById("LatLabel").style.display="none";
	  document.getElementById("LongLabel2").style.display="none";	
	  document.getElementById("Long2").style.display="none";
	  document.getElementById("Lat2").style.display="none";
	  document.getElementById("LatLabel2").style.display="none";	
	  document.getElementById("GetData").style.display="none";
	  }	

	 var map = L.map('map',{
        center: [52.770775, -1.2043467],
        zoom: 5,
        zoomControl: false
	    
    });
    L.control.zoom({position: 'topright'}).addTo(map);
    
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);
    
    var boundingBox = L.rectangle([[52.8, -1.266], [52.74, -1.18]], {color: "#ff00dd", weight: 1});
	  map.addLayer(boundingBox);
	
	  var xy1 = [52.8, -1.266];
	  var xy2 = [52.74, -1.18];
	  var boxBounds = [xy1, xy2];   

	

function onMapClickFirst(e) {
	lat=parseFloat(e.latlng.wrap().lat);
	lon=parseFloat(e.latlng.wrap().lng);
	xy1 = xy2;
	xy2 = e.latlng.wrap();
	boxBounds = [xy1, xy2];
        notifyMessage("You clicked the map at " + e.latlng.wrap(), "info");
	boxClickCounter++;
	if (boxClickCounter == 3) {
		xy1 = [0,0];
		xy2 = [0,0];
		document.getElementById("Lat").value=0;
		document.getElementById("Long").value=0;
		document.getElementById("Lat2").value=0;
		document.getElementById("Long2").value=0;
		boxClickCounter = 0;
		boxBounds = [xy1, xy2];
		boundingBox.setBounds(boxBounds);
	}
	if (boxClickCounter == 2) {
		boxBounds = [xy1, xy2];
		boundingBox.setBounds(boxBounds);
		document.getElementById("Lat2").value=lat;
		document.getElementById("Long2").value=lon;
	}
	if (boxClickCounter == 1) {
		document.getElementById("Lat").value=lat;
		document.getElementById("Long").value=lon;
	}
    }
    
    map.on('click', onMapClickFirst);

	
$(function() {
		$("#GetData").click(function () {
			var $PLACElat = parseFloat($("#Lat").val()); 
    			var $PLACElong = parseFloat($("#Long").val());
			var $PLACElat2 = parseFloat($("#Lat2").val()); 
    			var $PLACElong2 = parseFloat($("#Long2").val());
			var $lat=0;
			var $long=0;
			var $lat2=0;
			var $long2=0;
			if($PLACElat<$PLACElat2){
				$lat=$PLACElat-0.2;
				$lat2=$PLACElat2+0.2;
			}else{
				$lat=$PLACElat2-0.2;
				$lat2=$PLACElat+0.2;
			}
			
			if($PLACElong<$PLACElong2){
				$long=$PLACElong;
				$long2=$PLACElong2;
			}else{
				$long=$PLACElong2;
				$long2=$PLACElong;
			}
			
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			var $ID = urlParams.get('ID');
			var $path = "{{ download }}";
    	   	$.ajax({
    			method: "POST",
      			url: "{{ url_for('searchData')}}",
			data: {"lat":$lat, "lat2":$lat2, "long":$long, "long2":$long2, "path":$path, "ID":$ID}
      			
   		})
		.done(function(msg) {
			Data();
			const dataArray=msg.split("!")
			for (let i = 0; i < dataArray.length; i++){
				var id = "dataText"+i;
				var split=dataArray[i].split(":");
				document.getElementById(id).innerHTML="<table id=\"data\" class=\"SaveTable\"><thead><tr><th>"+split[0]+"</th></tr></thead><tbody><tr><td>"+split[1]+"</td></tr></tbody></table>";
			}
				
		})   
		.fail(function(msg){
			alert(msg);
		});
		});
 
	});	
	
Search();	
</script>
{% endblock %}
