{% extends "layout.html" %}
{% block content %}

<div id="mySidebar" class="sidebar" style="width:300px; padding-top:20px; overflow-y: hidden; position:absolute;">
  <input class="sidebutton" type="Button" id="MapText" value="Map" onclick="Map()">&emsp;<input class="sidebutton" type="button" id="ViewData" value="Data" onclick="Data()"><br><br><br>	
  <a id="searchText" style="text-align:center;">Coordinates Selected </a>
  <label id="LongLabel" for="long">Longitude 1: </label><br><input class="number" type="number" name="long" id="Long" value="-1.266" readonly><br>
  <label id="LatLabel" for="lat">Latitude 1: </label><br><input class="number" type="number" name="lat" id="Lat" value="52.9" readonly><br><br>
  <label id="LongLabel2" for="long2">Longitude 2: </label><br><input class="number" type="number" name="long2" id="Long2" value="-1.18" readonly><br>
  <label id="LatLabel2" for="lat2">Latitude 2: </label><br><input class="number" type="number" name="lat2" id="Lat2" value="52.74" readonly><br><br>
  <label for="datepicker1">Date Start:   </label>&emsp;&emsp;<label for="datapicker2">   Date End:</label><br>
  <input type="date" id="datepicker1">&emsp;<input type="date" id="datepicker2"><br><br>	
  <input class="buttonstyle" type="button" style=" margin:auto;" id = "GetData" value = "Get Location Data"><br><br>
  <input class="buttonstyle" type="button" style=" margin:auto;" id = "GetGif" value = "Get Gif Of Data"><br><br>

  
</div>

<div id="map" class='map'></div>
<div id="Data">
	<br><br><input type="date" id="tablepicker" style="float:right;" onchange="handler(event);"><br><br>
	<input class="buttonstyle"type="button" style="float:right;" value="analytics" id="openAnalytics"><br><br>
</div>

	
<script>
let boxClickCounter = 0;	
var dataSet=[];

	
	
function handler(e){
	var id = parseInt(String(e.target.value).replaceAll("-",""));
	var min= parseInt(String(document.getElementById("tablepicker").min).replaceAll("-",""));
	var max= parseInt(String(document.getElementById("tablepicker").max).replaceAll("-",""));
	for(let i=min;i<=max;i++){
		if(i==id){
			document.getElementById(id).style.display="block";
			document.getElementById(id).style.width="70%";
		}
		else{
			try{
				document.getElementById(i).style.display="none";
			}catch(err){}
		}
	}
}
	
	
function setLimits(){
	let params = (new URL(document.location)).searchParams;
	
	var start = params.get('amp;ID1');
	var end = params.get('amp;ID2');

		
	
	document.getElementById("datepicker1").max = end;
	document.getElementById("datepicker1").min = start;
	document.getElementById("datepicker1").value = start;
	document.getElementById("datepicker2").max = end;
	document.getElementById("datepicker2").min = start;
	document.getElementById("datepicker2").value = end;
}

    function notifyMessage(msg,styles){
                 $.notify(msg,{
                 className: styles,
                 globalPosition: 'right center'
                        
                 });
     }
	
	
	
	function Data(){	  
	  document.getElementById("map").style.display="none";
	  document.getElementById("Data").style.display="block";	
	  }
	function Map(){	  
	  document.getElementById("map").style.display="block";
	  document.getElementById("Data").style.display="none";
	  }

	 var map = L.map('map',{
        center: [52.770775, -1.2043467],
        zoom: 5,
        zoomControl: false
	    
    });
    L.control.zoom({position: 'topright'}).addTo(map);
    
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);
    
    var boundingBox = L.rectangle([[52.8, -1.266], [52.74, -1.18]], {color: "#ff00dd", weight: 1});
	  map.addLayer(boundingBox);
	
	  var xy1 = [52.8, -1.266];
	  var xy2 = [52.74, -1.18];
	  var boxBounds = [xy1, xy2];   

	

function onMapClickFirst(e) {
	lat=parseFloat(e.latlng.wrap().lat);
	lon=parseFloat(e.latlng.wrap().lng)+180;
	xy1 = xy2;
	xy2 = e.latlng.wrap();
	boxBounds = [xy1, xy2];
        notifyMessage("You clicked the map at "+lon+","+lat , "info");
	boxClickCounter++;
	if (boxClickCounter == 3) {
		xy1 = [0,0];
		xy2 = [0,0];
		document.getElementById("Lat").value=0;
		document.getElementById("Long").value=0;
		document.getElementById("Lat2").value=0;
		document.getElementById("Long2").value=0;
		boxClickCounter = 0;
		boxBounds = [xy1, xy2];
		boundingBox.setBounds(boxBounds);
	}
	if (boxClickCounter == 2) {
		boxBounds = [xy1, xy2];
		boundingBox.setBounds(boxBounds);
		document.getElementById("Lat2").value=lat;
		document.getElementById("Long2").value=lon;
	}
	if (boxClickCounter == 1) {
		document.getElementById("Lat").value=lat;
		document.getElementById("Long").value=lon;
	}
    }
    
    map.on('click', onMapClickFirst);

$(document).on('click', '#Analytics', function () {
			alert("test");
			
});

	
	
	
$(function() {
		$("#GetData").click(function () {
			var $date1 = $("#datepicker1").val();
			var $date2 = $("#datepicker2").val();
			document.getElementById("Data").innerHTML="<br><br><input type=\"date\" id=\"tablepicker\" style=\"float:right;\" onchange=\"handler(event);\" value=\""+$date1+"\"><br><br><input class=\"buttonstyle\" style=\"float:right;\" type=\"button\" style=\"float:right;\" value=\"analytics\" id=\"Analytics\"><br><br>"
			document.getElementById("tablepicker").max = $date2;
			document.getElementById("tablepicker").min = $date1;
			
			
			var $PLACElat = parseFloat($("#Lat").val()); 
    			var $PLACElong = parseFloat($("#Long").val());
			var $PLACElat2 = parseFloat($("#Lat2").val()); 
    			var $PLACElong2 = parseFloat($("#Long2").val());
			var $lat=0;
			var $long=0;
			var $lat2=0;
			var $long2=0;
			if($PLACElat<$PLACElat2){
				$lat=$PLACElat-0.2;
				$lat2=$PLACElat2+0.2;
			}else{
				$lat=$PLACElat2-0.2;
				$lat2=$PLACElat+0.2;
			}
			
			if($PLACElong<$PLACElong2){
				$long=$PLACElong-0.2;
				$long2=$PLACElong2+0.2;
			}else{
				$long=$PLACElong2-0.2;
				$long2=$PLACElong+0.2;
			}
			
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			
			var $ID = urlParams.get('ID');
			var $path = "{{ download }}";
			
			
    	   	$.ajax({
    			method: "POST",
      			url: "{{ url_for('searchData')}}",
			data: {"lat":$lat, "lat2":$lat2, "long":$long, "long2":$long2, "path":$path, "ID":$ID, "date1":$date1, "date2":$date2}
      			
   		})
		.done(function(msg) {
			Data();
			dataSet=[];
			var splitData=[];
			var splitData2=new Array(2);
			var splitData3=new Array(2);
			var $dictIndex=parseInt(String($date1).replaceAll("-",""));
			var $endIndex=parseInt(String($date2).replaceAll("-",""));
			var $count=0;
			while($dictIndex!=($endIndex+1)){
				const dataArray=msg[$dictIndex].split("!");
				if($count==0){
				var table="<table id=\""+$dictIndex+"\" class=\"SaveTable\" style=\"float:right;\"><thead><tr>";
				}else{
				var table="<table id=\""+$dictIndex+"\" class=\"SaveTable\" style=\"float:right; display:none;\"><thead><tr>";
				}
				for (let i = 0; i < dataArray.length; i++){
					var split=dataArray[i].split(":");
					if (typeof split[1] !== 'undefined'){
						table+="<th>"+split[0]+"</th>";
						splitData[i]=split[1]
					}
				}
				for (let i = 0; i < splitData.length; i++){
					splitData2[i]=new Array(2);
					if(typeof splitData[i] !== 'undefined'){	
						splitData[i]=splitData[i].replaceAll(" [","!");
						var split1=splitData[i].split("!");
						for (let j = 1; j < split1.length; j++){
							if(typeof split1[j] !=='undefined'){
							split1[j]=split1[j].replaceAll("[","");
							split1[j]=split1[j].replaceAll("]","");
							splitData2[i][j-1]=split1[j];
							}
						}
					}
				}
				table+="</tr></thead><tbody>"

				for (let i = 0; i < splitData2[0].length; i++){
					splitData3[i]=new Array(2)
					for (let j = 0; j < splitData2.length; j++){
						splitData3[i][j]=new Array(2);
						if(typeof splitData2[j][i] !== 'undefined'){
							var split2=splitData2[j][i].split(" ");
							for (let k = 1; k < split2.length; k++){
								splitData3[i][j][k-1]=split2[k];


							}	
						}
					}
				}
				
				for (let h=0; h<splitData3.length; h++){
					for (let i = 0; i < splitData3[0][0].length; i++){
						var writeline=true;
						table+="<tr>";
						for (let j = 0; j < splitData3[0].length; j++){

							if (typeof splitData3[h][j][i] =='undefined' ||splitData3[h][j][i] == ""){
								writeline=false;
							}
						}
						if(writeline==true)
							for (let j = 0; j < splitData3[0].length; j++){
								table+="<td>"+splitData3[h][j][i]+"</td>";

							}

						table+="</tr>";
					}
				}
				table+="</table>"
				table=table.replaceAll("<tr></tr>","");
				document.getElementById("Data").innerHTML+=table;
				document.getElementById("mySidebar").style.height="3000px";
				$count+=1;
				$dictIndex+=1;
			}
			var date=parseInt(String($date1).replaceAll("-",""));
			var dateEnd=parseInt(String($date2).replaceAll("-",""));
			while(date<=dateEnd){
				var table=document.getElementById(date);
				var rowLen = table.rows.length;
				var colLen = table.rows[0].cells.length;
				for(let i=1; i<rowLen;i++){
					var dataDict={};
					dataDict['date']=date;
					for(let j=0; j<colLen;j++){
						dataDict[table.rows[0].cells[j].innerHTML]=table.rows[i].cells[j].innerHTML;
					}
					dataSet.push(dataDict);
				}
				
				date+=1	
			}
			console.log(dataSet);
			
			
			
		})   
		.fail(function(msg){
			alert(msg);
		});
		});
 
	});	
	
$(function() {
		$("#GetGif").click(function () {
			
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			
			var $ID = urlParams.get('ID');
			var $path = "{{ download }}";
			
			
    	   	$.ajax({
    			method: "POST",
      			url: "{{ url_for('getGif')}}",
			data: {"path":$path, "ID":$ID}
      			
   		})
		.done(function(msg) {
			alert(msg);
		})   
		.fail(function(msg){
			alert(msg);
		});
		});
 
	});	



	
	
setLimits()	
</script>
{% endblock %}
